body {
  -webkit-tap-highlight-color: transparent;
}

.hideScrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.hideScrollbar::-webkit-scrollbar {
  display: none;
}
.slideUp {
  animation: slideUp 1s ease-in-out forwards;
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width: 768px) {
  @keyframes slideUp {
    0% {
      opacity: 0;
      transform: translateY(10rem);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
