---
interface Props {
  text: string
}

const { text } = Astro.props
---

<span class="inline-flex w-fit flex-col items-center">
  {text}
  <img
    src="images/texto-destacado.png"
    alt="texto destacado"
    width={416}
    height={44}
    class="w-32 sm:w-52 lg:mt-1 lg:w-72"
  />
</span>
