---
interface Props {
  product: {
    title: string
    image: string
  }
}

const { product } = Astro.props
---

<li class="group relative aspect-square w-full overflow-hidden bg-zinc-700">
  <h3
    class="bg-hb-dark/80 pointer-events-none absolute bottom-0 z-10 w-full p-2 text-center font-bold backdrop-blur-sm sm:p-4">
    {product.title}
  </h3>

  <img
    loading="lazy"
    src={product.image}
    alt={product.title}
    width="400"
    height="400"
    class="transition-all duration-500 group-hover:scale-110"
  />
</li>
