---
interface Props {
  title: string
  description: string
  image: string
  price: number
}

const { title, description, image, price } = Astro.props
---

<div class="flex w-fit flex-col rounded-sm rounded-l-none bg-zinc-600 p-4">
  <div class="flex items-start justify-between gap-2">
    <h3 class="font-semibold">{title}</h3>
    <span class="font-bold text-yellow-200">{price}€</span>
  </div>
</div>
