---
import { Image } from '@astrojs/image/components'
import Highlighted from '../components/Highlighted.astro'
import Map from '../components/Map.astro'
---

<section
  class="font-display mx-auto mt-44 max-w-screen-xl px-10 sm:mt-56 lg:mt-72">
  <h2
    class="mx-auto flex w-fit flex-col items-center text-center text-4xl font-semibold lg:text-5xl">
    <Highlighted text="Dónde encontrarnos" />
  </h2>
  <h3 class="mx-auto mt-14 max-w-screen-md text-center text-xl lg:text-2xl">
    Estamos en calle Gutiérrez de Cárdenas N4, en Crevillente, Alicante.
  </h3>
  <div
    class="mx-auto mt-10 flex w-fit max-w-screen-md flex-col gap-10 text-lg lg:flex-row">
    <address class="flex flex-col gap-4 not-italic">
      <p class="flex gap-2">
        <img
          src="icons/whatsapp-pide-cita.svg"
          alt="Whatsapp Pide Cita"
          width="28px"
          height="28px"
        />
        +34 613 501 517
      </p>
      <p class="flex gap-2">
        <img
          src="icons/instagram-@barberia_hb.svg"
          alt="Instagram @barberia_hb"
          width="28px"
          height="28px"
        />
        @barberia_hb
      </p>
      <p class="flex items-start gap-2">
        <img
          src="icons/direccion-Calle-Gutierrez-de-Cardenas.svg"
          alt="Dirección Calle Gutiérrez de Cárdenas N4 Crevillente"
          width="28px"
          height="28px"
        />
        c/Gutiérrez de Cárdenas N4, 1Lo 03330
      </p>
    </address>
    <Map />
  </div>
</section>
