---
import {Image} from '@astrojs/image/components'
import Highlighted from '../components/Highlighted.astro';
---


<section
  class="max-w-screen-xl px-10 mx-auto font-display mt-44 sm:mt-56 lg:mt-72">
  <h2
    class="flex flex-col items-center mx-auto text-4xl font-semibold text-center w-fit lg:text-5xl">
    <Highlighted text="Dónde encontrarnos" />
  </h2>
  <h3 class="max-w-screen-md mx-auto text-xl text-center mt-14 lg:text-2xl">
    Estamos en calle Gutiérrez de Cárdenas N4, en Crevillente, Alicante.
  </h3>
  <div class="flex flex-col max-w-screen-md gap-10 mx-auto mt-10 text-lg lg:flex-row w-fit">
    <div class="flex flex-col gap-4">
    <p class="flex gap-2">
       <img
        src="icons/whatsapp-pide-cita.svg"
        alt="Whatsapp Pide Cita"
        class="w-7"/>
      +34 613 501 517
    </p>
     <p class="flex gap-2">
       <img
        src="icons/instagram-@barberia_hb.svg"
        alt="Instagram @barberia_hb"
        class="w-7"/>
      @barberia_hb
    </p>
     <p class="flex items-start gap-2">
        <img
        src="icons/direccion-Calle-Gutierrez-de-Cardenas.svg"
        alt="Dirección Calle Gutiérrez de Cárdenas N4 Crevillente"
        class="w-7"
      />
        c/Gutiérrez de Cárdenas N4, 1Lo 03330
      </p>
    </div>
    <Image src="/images/mapa.png" alt="mapa" width={1262} height={724} format="webp" class="object-cover max-w-md rounded-sm aspect-video"/>
  </div>
</section>