<footer class="mt-20 flex flex-col items-center p-8 sm:mt-32">
  <ul class="mb-5 flex gap-2">
    <li>
      <a
        href="https://walink.co/5faefe"
        target="_blank"
        rel="noopener noreferrer">
        <img
          src="icons/whatsapp-pide-cita.svg"
          alt="Whatsapp Pide Cita"
          width="40px"
          height="40px"
        />
      </a>
    </li>
    <li>
      <a
        href="https://www.instagram.com/barberia_hb/"
        target="_blank"
        rel="noopener noreferrer">
        <img
          src="icons/instagram-@barberia_hb.svg"
          alt="Instagram @barberia_hb"
          width="40px"
          height="40px"
        />
      </a>
    </li>
    <li>
      <a
        href="https://goo.gl/maps/LDZzZJZ4VwXF89qo7"
        target="_blank"
        rel="noopener noreferrer">
        <img
          src="icons/direccion-Calle-Gutierrez-de-Cardenas.svg"
          alt="Dirección Calle Gutiérrez de Cárdenas N4 Crevillente"
          width="40px"
          height="40px"
        />
      </a>
    </li>
  </ul>
  <p class="text-sm">
    Desarrollado por
    <a
      href="https://linkedin.com/in/marioperezhurtado/"
      target="_blank"
      rel="noopener noreferrer"
      class="font-semibold">Mario Pérez Hurtado</a
    >
  </p>
</footer>
