---
import OfertaEspecial from '../components/OfertaEspecial.astro'
---

<OfertaEspecial />
<header
  class="bg-hb-dark sticky top-0 z-10 mx-auto flex max-w-screen-xl flex-row items-center justify-between gap-y-4 gap-x-6 bg-opacity-90 py-4 px-10 backdrop-blur-sm sm:flex-col-reverse lg:flex-row">
  <img src="barberia-hb-logo.png" alt="Barberia HB Logo" class="w-32" />
  <nav class="flex gap-2 text-sm">
    <a
      href="https://walink.co/5faefe"
      target="_blank"
      rel="noopener noreferrer"
      class="flex items-center gap-1 rounded-sm p-2 transition hover:bg-green-500">
      <img src="whatsapp-pide-cita.svg" alt="Whatsapp Pide Cita" class="w-5" />
      <span class="hidden sm:inline">+34 613 501 517</span>
    </a>
    <a
      href="https://www.instagram.com/barberia_hb/"
      target="_blank"
      rel="noopener noreferrer"
      class="flex items-center gap-1 rounded-sm p-2 transition hover:bg-indigo-500">
      <img
        src="instagram-@barberia_hb.svg"
        alt="Instagram @barberia_hb"
        class="w-5"
      />
      <span class="hidden sm:inline">@barberia_hb</span>
    </a>
    <a
      href="https://goo.gl/maps/LDZzZJZ4VwXF89qo7"
      target="_blank"
      rel="noopener noreferrer"
      class="flex items-center gap-1 rounded-sm p-2 transition hover:bg-cyan-600">
      <img
        src="direccion-Calle-Gutierrez-de-Cardenas.svg"
        alt="Instagram @barberia_hb"
        class="w-5"
      />
      <span class="hidden sm:inline">
        c/ Gutiérrez de Cárdenas N4
        <span class="hidden md:inline">, 1Lo - 03330 Crevillente</span>
      </span>
    </a>
  </nav>
</header>
