---
import Highlighted from '../components/Highlighted.astro'
---

<div
  class="font-display mx-auto flex max-w-screen-xl flex-col-reverse gap-10 px-5 pt-14 sm:px-10 md:pt-32 lg:flex-row lg:gap-20 lg:pt-44">
  <img
    src="images/local-barberia-hb.webp"
    alt="Local Barbería HB en Crevillente"
    width={680}
    height={475}
    class="mx-auto aspect-video w-full max-w-md rounded-sm object-cover object-top contrast-75"
  />
  <div>
    <h1
      class="mx-auto mb-10 max-w-screen-md gap-x-2 text-center text-3xl font-semibold sm:text-4xl lg:text-left lg:text-5xl">
      Barbería y peluquería de caballeros en
      <Highlighted text="Crevillente" />
    </h1>
  </div>
</div>
