---
import BannerOferta from '../layouts/BannerOferta.astro'
---

<BannerOferta />
<header
  class="bg-hb-dark sticky top-0 z-10 mx-auto flex max-w-screen-xl flex-row items-center justify-between gap-y-4 bg-opacity-90 p-4 backdrop-blur-sm sm:flex-col-reverse sm:gap-x-6 lg:flex-row">
  <a href="https://barberiahb.com">
    <img
      src="images/barberia-hb-logo.webp"
      alt="Barberia HB Logo"
      width={510}
      height={200}
      class="w-24 sm:w-32"
    />
  </a>
  <ul class="flex gap-2 text-sm">
    <li>
      <a
        href="https://walink.co/5faefe"
        target="_blank"
        rel="noopener noreferrer"
        class="flex items-center gap-1 rounded-sm p-2 transition hover:bg-green-600">
        <img
          src="icons/whatsapp-pide-cita.svg"
          alt="Whatsapp Pide Cita"
          width="20px"
          height="20px"
        />
        <span class="hidden sm:inline">+34 613 501 517</span>
      </a>
    </li>
    <li>
      <a
        href="https://www.instagram.com/barberia_hb/"
        target="_blank"
        rel="noopener noreferrer"
        class="flex items-center gap-1 rounded-sm p-2 transition hover:bg-indigo-500">
        <img
          src="icons/instagram-@barberia_hb.svg"
          alt="Instagram @barberia_hb"
          width="20px"
          height="20px"
        />
        <span class="hidden sm:inline">@barberia_hb</span>
      </a>
    </li>
    <li>
      <a
        href="https://goo.gl/maps/LDZzZJZ4VwXF89qo7"
        target="_blank"
        rel="noopener noreferrer"
        class="flex items-center gap-1 rounded-sm p-2 transition hover:bg-cyan-600">
        <img
          src="icons/direccion-Calle-Gutierrez-de-Cardenas.svg"
          alt="Dirección Calle Gutiérrez de Cárdenas N4 Crevillente"
          width="20px"
          height="20px"
        />
        <span class="hidden sm:inline">
          c/ Gutiérrez de Cárdenas N4
          <span class="hidden md:inline">, 1L - 03330 Crevillente</span>
        </span>
      </a>
    </li>
  </ul>
</header>
