---
import '@fontsource/stint-ultra-expanded'
import '@fontsource/pontano-sans'
---

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="robots" content="index, follow" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Barbería HB Crevillente | Barbería y peluquería de caballeros</title>
    <meta
      name="description"
      content="Nueva barbería y peluquería en la carretera general de Crevillente. Ponte en nuestras manos y luce los cortes más modernos con estilo."
    />
    <meta
      name="keywords"
      content="barbería crevillente, peluquería crevillente, barberia hb"
    />
    <meta name="author" content="Mario Pérez Hurtado" />
  </head>
  <body>
    <main class="bg-hb-dark text-hb-light font-body h-[10000px] min-h-screen">
      <slot />
    </main>
  </body>
</html>
