---
import '@fontsource/stint-ultra-expanded'
import '@fontsource/inter'
---

<!DOCTYPE html>
<html lang="es" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="robots" content="index, follow" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <title>Babería HB Crevillente | Barbería y peluquería de caballeros</title>
    <meta
      name="description"
      content="Nueva barbería y peluquería en la carretera general de Crevillente. Ponte en nuestras manos y luce los cortes más modernos con estilo."
    />
    <meta
      name="keywords"
      content="barbería crevillente, peluquería crevillente, barberia hb"
    />
    <meta name="author" content="Mario Pérez Hurtado" />
    <meta
      property="og:title"
      content="Babería HB Crevillente | Barbería y peluquería de caballeros"
    />
    <meta property="og:site_name" content="barberiahb.com" />
    <meta property="og:url" content="https://barberiahb.com" />
    <meta
      property="og:description"
      content="Nueva barbería y peluquería en la carretera general de Crevillente. Ponte en nuestras manos y luce los cortes más modernos con estilo."
    />
    <meta property="og:type" content="bussines.bussines" />
    <meta property="og:image" content="images/social-image-barberiahb.webp" />
    <link rel="canonical" href="https://barberiahb.com" />
  </head>
  <body>
    <main class="bg-hb-dark text-hb-light font-body min-h-screen">
      <slot />
    </main>
  </body>
</html>
