---
import Highlighted from '../components/Highlighted.astro'
import Stories from '../components/Stories'
---

<section
  class="font-display mx-auto mt-44 flex max-w-screen-lg flex-wrap gap-20 px-10 text-center sm:mt-56 lg:mt-72 lg:text-left">
  <div class="mx-auto max-w-screen-sm">
    <h2
      class="mb-10 inline-flex flex-wrap justify-center gap-x-2 text-4xl font-semibold lg:justify-start lg:text-5xl">
      Luce los cortes más
      <Highlighted text="modernos" />
      con estilo
    </h2>
    <h3 class="mb-5 text-xl lg:text-2xl">
      Le damos el mejor tratamiento a tu pelo.
    </h3>
    <p class="text-xl lg:text-2xl">
      Siéntete cómodo en nuestras instalaciones y lleva tu afeitado al siguiente
      nivel.
    </p>
  </div>
  <Stories client:visible />
</section>
