---
import { Image } from '@astrojs/image/components'
import Highlighted from '../components/Highlighted.astro'
---

<section
  id="oferta"
  class="font-display mx-auto flex w-fit max-w-screen-lg flex-col flex-wrap gap-14 px-10 pt-44 sm:pt-56 lg:flex-row lg:pt-72">
  <div class="mx-auto max-w-xl text-center lg:max-w-md lg:text-left">
    <h2
      class="mx-auto flex w-fit flex-wrap justify-center gap-x-2 text-4xl font-semibold lg:mx-0 lg:justify-start lg:text-5xl">
      <Highlighted text="Oferta especial" />
    </h2>
    <h3 class="mx-auto mt-14 max-w-screen-md text-xl lg:text-2xl">
      Cada 5 cortes, consigues un descuento especial!
    </h3>
    <p class="mt-5 mb-2">
      <strong>4€ de descuento</strong> en tu próximo corte.
    </p>
    <p>
      <strong>6€ de descuento</strong> en tu próximo corte + barba.
    </p>
    <h3 class="mx-auto mt-10 max-w-screen-md text-xl lg:text-2xl">
      ¡No te lo pierdas! 🎉
    </h3>
  </div>
  <Image
    src="images/oferta.jpeg"
    alt="Oferta especial Barberia HB"
    width={1004}
    height={650}
    format="webp"
    quality={100}
    class="object-cover object-top w-full h-full max-w-sm mx-auto rounded-sm contrast-75 aspect-video"
  />
</section>
