---
import { Image } from '@astrojs/image/components'
import Highlighted from '../components/Highlighted.astro'
---

<section
  class="flex max-w-screen-lg px-10 mx-auto font-display mt-44 gap-14 sm:mt-56 lg:mt-72">
  <div>
    <h2
      class="flex flex-wrap justify-center mx-auto text-4xl font-semibold w-fit gap-x-2 lg:justify-start lg:text-5xl">
      <Highlighted text="Oferta especial" />
    </h2>
    <h3 class="max-w-screen-md mx-auto text-xl mt-14 lg:text-2xl">
      Cada 5 cortes, consigues un descuento especial!
    </h3>
    <p class="mt-5 mb-2">
      <strong>2€ de descuento</strong> en tu próximo corte
    </p>
    <p>
      <strong>4€ de descuento</strong> de descuento en tu próximo corte + barba
    </p>
  </div>
  <Image
    src="images/local-barberia-hb.jpg"
    alt="Local Barbería HB en Crevillente"
    width={680}
    height={475}
    format="webp"
    quality={100}
    class="object-cover object-top w-full max-w-md mx-auto rounded-sm aspect-video contrast-75"
  />
</section>
