---
import Highlighted from '../components/Highlighted.astro'
---

<section
  class="font-display mx-auto mt-44 max-w-screen-xl px-10 sm:mt-56 lg:mt-72">
  <h2
    class="mx-auto flex w-fit flex-wrap justify-center gap-x-2 text-center text-4xl font-semibold lg:justify-start lg:text-5xl">
    ¿Todo listo?
    <Highlighted text="Pide cita" />
  </h2>
  <h3 class="mx-auto mt-14 max-w-screen-md text-center text-xl lg:text-2xl">
    Estaremos encantados de atenderte.
  </h3>
  <h3 class="mx-auto mt-5 max-w-screen-md text-center text-xl lg:text-2xl">
    Si tienes alguna pregunta, no dudes en contactarnos.
  </h3>
  <a
    href="https://walink.co/5faefe"
    target="_blank"
    rel="noopener noreferrer"
    class="font-body mx-auto mt-10 flex w-fit items-center gap-1 rounded-sm bg-green-700 px-4 py-1.5 pl-3 text-lg font-semibold tracking-widest transition-all hover:bg-green-600">
    <img
      src="/icons/whatsapp-pide-cita.svg"
      alt="Pide cita whatsapp"
      class="h-6 w-6"
    />
    Pedir cita
  </a>
</section>
