---
import Highlighted from '../components/Highlighted.astro'
import Servicio from '../components/Servicio.astro'
---

<section
  class="font-display mx-auto mt-44 max-w-screen-xl px-10 sm:mt-56 lg:mt-72">
  <h2
    class="mx-auto flex w-fit flex-col items-center text-4xl font-semibold lg:text-5xl">
    <Highlighted text="Nuestros servicios" />
  </h2>
  <h3 class="mx-auto mt-14 max-w-screen-md text-center text-xl lg:text-2xl">
    Disponemos de diferentes servicios para adaptarnos a las necesidades del
    cliente.
  </h3>
  <ul class="mx-auto mt-10 flex max-w-screen-md flex-wrap gap-4">
    <li>
      <Servicio
        title="Corte niño y jubilado"
        description="Lorem ipsum dolor sit amet."
        image="images/local-barberia-hb.jpg"
        price={7}
      />
    </li>
    <li>
      <Servicio
        title="Corte"
        description="Lorem ipsum dolor sit amet."
        image="images/local-barberia-hb.jpg"
        price={8}
      />
    </li>
    <li>
      <Servicio
        title="Arreglo de barba"
        description="Lorem ipsum dolor sit amet."
        image="images/local-barberia-hb.jpg"
        price={4}
      />
    </li>
    <li>
      <Servicio
        title="Corte + barba"
        description="Lorem ipsum dolor sit amet."
        image="images/local-barberia-hb.jpg"
        price={12}
      />
    </li>
    <li>
      <Servicio
        title="Afeitado premium"
        description="Lorem ipsum dolor sit amet."
        image="images/local-barberia-hb.jpg"
        price={7}
      />
    </li>
    <li>
      <Servicio
        title="Servicio premium"
        description="Lorem ipsum dolor sit amet."
        image="images/local-barberia-hb.jpg"
        price={25}
      />
    </li>
    <li>
      <Servicio
        title="Mascarillas faciales"
        description="Lorem ipsum dolor sit amet."
        image="images/local-barberia-hb.jpg"
        price={10}
      />
    </li>
  </ul>
</section>
