---
import Highlighted from '../components/Highlighted.astro'
import Servicio from '../components/Servicio.astro'
---

<section
  class="max-w-screen-xl px-10 mx-auto font-display mt-44 sm:mt-56 lg:mt-72">
  <h2
    class="flex flex-col items-center mx-auto text-4xl font-semibold w-fit lg:text-5xl">
    <Highlighted text="Nuestros servicios" />
  </h2>
  <h3 class="max-w-screen-md mx-auto text-xl text-center mt-14 lg:text-2xl">
    Disponemos de diferentes servicios para adaptarnos a las necesidades del
    cliente.
  </h3>
  <ul
    class="grid max-w-md gap-6 mx-auto mt-20 md:max-w-screen-md md:grid-cols-2 lg:max-w-screen-lg lg:grid-cols-3">
    <li>
      <Servicio
        title="Corte clásico"
        description="Lorem ipsum dolor sit amet."
        image="images/local-barberia-hb.jpg"
        price={8}
      />
    </li>
    <li>
      <Servicio
        title="Corte degradado"
        description="Lorem ipsum dolor sit amet."
        image="images/local-barberia-hb.jpg"
        price={8}
      />
    </li>
    <li>
      <Servicio
        title="Afeitado barba"
        description="Lorem ipsum dolor sit amet."
        image="images/local-barberia-hb.jpg"
        price={4}
      />
    </li>
    <li>
      <Servicio
        title="Afeitado premium"
        description="Lorem ipsum dolor sit amet."
        image="images/local-barberia-hb.jpg"
        price={7}
      />
    </li>
  </ul>
</section>
