---
import Highlighted from '../components/Highlighted.astro'
// import Servicio from '../components/Servicio.astro'
import Slider from '../components/Slider'
---

<section
  id="servicios"
  class="font-display mx-auto mt-44 max-w-screen-xl px-5 sm:mt-56 sm:px-10 lg:mt-72">
  <h2
    class="mx-auto flex w-fit flex-col items-center text-center text-3xl font-semibold sm:text-4xl lg:text-5xl">
    <Highlighted text="Nuestros servicios" />
  </h2>
  <h3 class="mx-auto mt-14 max-w-screen-md text-center text-xl lg:text-2xl">
    Disponemos de diferentes servicios para adaptarnos a las necesidades del
    cliente.
  </h3>
  <Slider client:visible />
</section>
